<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <div class="panel panel-default">
    <div class="panel-heading">商品カテゴリー</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% categories.each_with_index do |node, index| %>
            <li>
              <a href="javascript:;" data-toggle="collapse" data-target="#node-<%= index %>">
                <%= node.name %><i class="fa fa-plus"></i>
              </a>
              <ul id="node-<%= index %>" class="collapse collapseItem in">
                <% node.root.leaves.each do |leaf| %>
                  <li>
                    <%= link_to potepan_category_path(leaf.id) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                      <%= leaf.name %>
                      <span><%= "  ( #{leaf.all_products.count} )" %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">色から探す</div>
    <div class="panel-body">
      <ul class="list-unstyled" id="filter_by_color">
        <% colors.each do |color| %>
          <li>
            <%= link_to controller: 'categories', action: 'show', color: color.id do %>
              <%= color.presentation %>
              <span><%= "  ( #{color.variants.count} )" %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">サイズから探す</div>
    <div class="panel-body">
      <ul class="list-unstyled clearfix">
        <li><a href="#">S<span>(15)</span></a></li>
        <li><a href="#">M<span>(10)</span></a></li>
        <li><a href="#">L<span>(7)</span></a></li>
        <li><a href="#">XL<span>(12)</span></a></li>
      </ul>
    </div>
  </div>
</div>