<div class="row">
  <% if products.size.zero? || products.nil? %>
    <div class="notFound">
      <%= t 'view.not_found' %>
    </div>
  <% else %>
    <% products.each do |product| %>
      <div class="col-sm-4 col-xs-12">
        <div class="productBox">
          <% if product.attribute_present?(:is_master) %>
            <%= render 'variant', product: product %>
          <% else %>
            <%= render 'master', product: product %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>