<%= link_to potepan_product_path(product.product_id, variant: product.id) do %>
  <div class="productImage clearfix">
    <%= image_tag product.display_image.attachment.url, :alt => "products-img" %>
  </div>
  <div class="productCaption clearfix">
    <h5><%= product.name %></h5>
    <h5><%= show_size(product) %></h5>
    <h3><%= product.display_price %></h3>
  </div>
<% end %>